@model Aircraft.Models.Vuelo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vuelo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraLlegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VueloID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
